<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132909200989-6h2q8k7qkfjd6knsvhap7o21fvvfvh5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132909200989-6h2q8k7qkfjd6knsvhap7o21fvvfvh5n</string>
	<key>API_KEY</key>
	<string>AIzaSyA7m8c7QmAHy7qioFtjZuSzfiWeRC8pndg</string>
	<key>GCM_SENDER_ID</key>
	<string>132909200989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vyalla.-NCHS-Staff</string>
	<key>PROJECT_ID</key>
	<string>nchs-fcc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>nchs-fcc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132909200989:ios:859e176df3960a7d6d7fb4</string>
</dict>
</plist>